.about-section{
    background-color: black;
    color: white;
    font-family: 'Jost', sans-serif;
}

.contact-section{
    background-color: black;
    color: white;
    font-family: 'Jost', sans-serif;
}

.me{
    width: 1000px;
}