*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.site-header{
    background-color: #212121;
    color: white;
    font-family: 'Jost', sans-serif;
    padding: 15px;
    align-items: center;

    display: flex;
    flex-direction: row;
}

.site-title{
    flex-grow: 15;
    padding-left: 10px;
}

.graphic-design{
    flex-grow: 1;
    
}

.art{
    flex-grow: 1;
}

.about{
    flex-grow: 1;
}


.site-footer{
    background-color: #212121;
    color: white;
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding: 15px;
}